body {
  background-color: black;
}

.topbar {
  text-align: center;
}

.dabi, .jinx, .xielian {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1px;
}

img {
  width: 45%
}
