body {
  background-color: black;
}

.header {
	background-color: crimson;
	color: white;
	border-radius: 10px;
	padding: 30px 10px 30px 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	width: 55%;
}

.dabi, .jinx, .xielian {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
	background-color: white;
	border-radius: 10px;
	padding: 30px 10px 30px 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 45%;
}

img {
  width: 95%
}

.menu {
	background-color: crimson;
	color: white;
	border-radius: 10px;
	padding: 30px 10px 30px 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	width: 45%;
}
