/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */

/* overarching styles */

/* oswald-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/oswald-v57-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* quattrocento-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/quattrocento-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
	font-size: 18px;
	background-color: #CAC4CE;
	background-image: url('images/bkg.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

/* navigation styles */

nav {
	position: fixed;
	font-family: 'Quattrocento', serif;
	font-size: 1.25em;
	width: 100%;
	padding-top: 20px !important;
	padding-bottom: 25px !important;
	z-index: 9999;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 80px;
	list-style: none;
}

nav li {
	background-color: #1C0221;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}

nav a {
	color: #9A4FB7;
	text-decoration: none;
	transition: all 2s;
}

nav a:hover {
	color: #F4EDEA;
}

/* End navigation styles */

/* header styles */

.header {
	position: relative;
	width: 900px;
	background-color: #F4EDEA;
	margin-left: auto;
	margin-right: auto;
	top: 125px;
	border-radius: 20px;
	padding: 15px;
}

.header h1 {
	font-size: 3.05em;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	padding-bottom: 20px;
	color: #2A9D8F;
	text-align: center;
}

.header p {
	font-size: 1em;
	font-family: 'Quattrocento', serif;
	color: #1C0221;
	text-align: justify;
	line-height: 30px;
}

/* end header styles */

/* main */

.container {
	position: relative;
	background-color: #F4EDEA;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	top: 200px;
	border-radius: 20px;
	padding-top: 35px;
	padding-left: 15px;
	padding-right: 15px;
}

.container p {
	font-family: 'Quattrocento', serif;
	width: 350px;
	text-align: justify;
}

.container h2 {
	font-size: 1.56em;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: #2A9D8F;
}

.container img {
	width: 350px;
	border-radius: 10px;
}

.row1 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 600px;
  	align-items: stretch;
}

.row2 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 600px;
  	align-items: stretch;
}

.row3 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 600px;
  	align-items: stretch;
}