h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

h3 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

p {
  font-family: "Montserrat", sans-serif;
}
