.topbar {
  color: WhiteSmoke;
  background-color: RebeccaPurple;
  text-align: left;
  font-size: 70px;
}

.header {
  background-color: WhiteSmoke;
  text-align: center;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.info {
  background-color: WhiteSmoke;
  opacity: 80%;
}

h1, h2{
  color: RebeccaPurple;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-image: url('https://coolbackgrounds.imgix.net/4BIP4ge9ontCTkNubiY4lb/48121f9d09134fd83670b1d6e182aa66/white-particles-background.png?w=640&q=60&auto=format,compress');
  font-family: "Rokkitt", serif;
  font-style: normal;
}

.image {
  background-color: WhiteSmoke;
  opacity: 80%;
}
