body {
	background-image: url('https://coolbackgrounds.imgix.net/4lBzkVBmJ0qvFJ90SJHEdV/7645fc49f7f1fb4a8c31a94fc4c97f4d/black-particles-background.png?w=640&q=60&auto=format,compress');
}

#main {
	color: white;
	background-color: crimson;
	border-radius: 20px;
	padding: 30px 10px 30px 20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 55%;
}

#main .title {
	font-family: "Mr Bedfort", cursive;
	font-size: 20px;
	text-shadow: 4px 8px 10px black;
}

#main .subtitle {
	font-family: "Vidaloka", serif;
	font-size: 15px;
	text-shadow: 1px 2px 5px black;
	padding-top: 0px;
	letter-spacing: 5px;
}

#aboutme {
	background-color: white;
	border-radius: 20px;
	padding: 30px 10px 30px 20px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 45%;
	opacity: 90%;
}

#assignments {
	background-color: white;
	border-radius: 20px;
	padding: 30px 10px 30px 20px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 45%;
	opacity: 90%;
}

#media {
	background-color: white;
	border-radius: 20px;
	padding: 30px 10px 30px 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 45%;
}

h2, h3 {
	color: crimson;
	font-family: "Vidaloka", serif;
	text-align: center;
	padding-top: 20px;
}

p, li {
	color: black;
	font-family: "Roboto", sans-serif;
}

img {
	width: 60%;
	image-align: center;
}
