body {
	background-image: url('assets/images/background.png');
}

#main {
	color: white;
	background-color: crimson;
	border-radius: 20px;
	text-align: center;
	margin: 0 auto;
	padding: 20px 30px;
	min-width: 350px;
	max-width: 900px;
}

#main .title {
	font-family: "Mr Bedfort", cursive;
	font-size: 30px;
	text-shadow: 4px 8px 10px black;
}
