/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */

/* ledger-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Ledger';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/ledger-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* WeDoBones_Extended */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'We Do Bones';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/WeDoBones_Extended.otf') format('OpenType'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* overarching styles */

html {
	font-size: 16px;
	background-color: black;
}


/* navigation bar */
nav {
	position: fixed;
	width: 100%;
	background-image: linear-gradient(to bottom right, #000000, #333333);
	font-family: 'Ledger', serif;
	padding-top: 25px;
	padding-bottom: 30px;
	opacity: 75%;
	z-index: 9999;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 30px;
	font-size: 1.25em;
}

nav a {
	background-color: white;
	border-radius: 7px;
	padding: 7px;
	color: black;
	text-decoration: none;
	transition: all 2s;
}

nav a:hover {
	color: red;
	text-decoration: underline red 3px;
}

/* Image */

#exterior img {
	width: 100%;
	height: auto;
	z-index: 1;
}

#exterior figcaption {
	z-index: 2;
	margin-top: -50px;
	margin-left: 7px;
	font-family: 'Ledger', serif;
	font-size: 0.8em;
	color: red;

}

#exterior figcaption a {
	color: red;
	text-decoration: none;
	transition: all 2s;
}

#exterior figcaption a:hover {
	color: white;
	text-decoration: underline white 3px;
}

/* Main Text */

#main {
	color: white;
	margin-top: 30px;
	padding-top: 10px;
	z-index: 2;
	width: 100%;
	height: 100%;
}

/* Header */

#welcome {
	text-align: center;
}

#welcome h1 {
	font-family: 'We Do Bones', display;
	font-size: 3.05em;
	margin-bottom: -7px;
	padding-top: 15px;
}

#welcome p {
	font-family: 'Ledger', serif;
	font-style: italic;
	padding-bottom: 10px;
	font-size: 0.8em;
}

/* Info */

.info {
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 70px;
}

/* About */

#about, #contact {
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 30px;
}

#about h2, #contact h2 {
	font-family: 'We Do Bones', display;
	font-size: 2.44em;
	border-bottom: 3px solid white;
	margin-bottom: 10px;
	margin-top: 50px;
	background-image: url("images/skulliconwhite.png");
	background-repeat: no-repeat;
	padding-left: 50px;
}

#about p, #contact p {
	font-family: 'Ledger', serif;
	margin-bottom: 25px;
	text-align: justify;
	line-height: 26px;
}

#about a, #contact a {
	color: red;
	text-decoration: none;
	transition: all 2s;
}

#about a:hover, #contact a:hover {
	color: white;
	text-decoration: underline white 3px;
}

.beware {
	margin-bottom: 2000px;
}

/* Footer */

#footer {
	background-color: white;
	width: 100%;
	position: absolute;
	bottom: -200;
	height: 150px;
	font-family: 'Ledger', serif;
	background-image: url("images/skullicon.png");
}

#buttons ul {
	list-style: none;
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 30px;
	font-size: 1.25em;
	padding-top: 20px;
}

#buttons a {
	background-color: black;
	border-radius: 7px;
	padding: 7px;
	color: white;
	text-decoration: none;
	transition: all 2s;
}

#buttons a:hover {
	color: red;
	text-decoration: underline red 3px;
}

#contactinfo ul {
	list-style: none;
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 30px;
	font-size: 1.25em;
	padding-top: 30px;
}

#contactinfo li {
	background-color: black;
	border-radius: 7px;
	padding: 7px;
	color: white;
	text-decoration: none;
	transition: all 2s;
}

#contactinfo li:hover {
	color: red;
	text-decoration: underline red 3px;
}

/* Haunted Note */

@keyframes note1 {
	0% {opacity: 0%}
	50% {opacity: 0%}
	51% {opacity: 100%}
	99% {opacity: 100%}
	100% {opacity: 0%}
}

#note1 {
	margin-top: -50%;
	margin-left: 20%;
	animation-name: note1;
	animation-duration: 30s;
	opacity: 0%;
}

/* Form */

form {
	font-family: 'Ledger', serif;
	text-align: center;
	line-height: 50px;
}

textarea {
	font-family: 'Ledger', serif;
	font-size: 16px;
	text-align: justify;
}

input {
	font-family: 'Ledger', serif;
	font-size: 16px;
	padding: 7px;
	transition: 2s;
}

input:hover {
	background-color: red;
	color: white;
	text-decoration: underline white 3px;
}