.navigation {
      position: fixed;
      width: 100%;
      text-align: center;
      background-color: #A62FFA;
}

.navigation li {
      display: inline-block;
      color: #ffffff;
}

/* unvisited link */
.navigation a:link, a:visited {
      color: #ffffff;
}

/* mouse over link */
.navigation a:hover {
  color: black;
}

header {
      position: relative;
      top: 50px;
}
