/* Navigation Bar */

.navigation {
      position: fixed;
      width: 100%;
      background-color: #A62FFA;
      text-align: center;
      top: 0px;
      left: 0px;
      opacity: 75%;
}

.navigation li {
      display: inline-block;
      color: #ffffff;
      margin-right: 15px;
}

.navigation a:link, a:visited {
      color: #ffffff;
}

.navigation a:hover {
  color: black;
}

/* End of navigation bar css */

body {
      background-image: url ('./asg6/images/webb-dark.png')
}

header {
      top: 50px;
      position: relative;
}
